body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #120144, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #120144, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Start Navbar style */
.navbar {
  background-color: transparent;
}

.container-fluid .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #024caa;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar-collapse a:hover {
  border-radius: 5px;
  background-color: #024caa; /* Ganti warna latar belakang saat di-hover */
}

/* Start Home style */
.home-content h1 {
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #444356;
  overflow: hidden;
}

.animate-keyword p {
  overflow: hidden; /* Menyembunyikan teks yang belum muncul */
  white-space: nowrap; /* Mencegah teks dibungkus ke baris baru */
  animation: typing 2s steps(30, end) forwards, blink 0.75s step-end infinite; /* Menambahkan animasi berkedip */
  visibility: hidden; /* Sembunyikan p awalnya */
}

/* Animasi untuk setiap paragraf */
.animate-keyword p:nth-child(1) {
  animation-delay: 0s; /* Muncul pertama */
  visibility: visible; /* Menampilkan paragraf pertama */
}

.animate-keyword p:nth-child(2) {
  animation-delay: 1s; /* Muncul setelah paragraf pertama */
  visibility: visible; /* Menampilkan paragraf kedua */
}

@keyframes typing {
  from {
    width: 0; /* Dimulai dari lebar 0 */
  }
  to {
    width: 100%; /* Berakhir dengan lebar penuh */
  }
}

/* start style about */
#about {
  padding: 50px 20px;
}

#about .content-title {
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(to right, #9ccdf3, #dbebf7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  text-align: center;
}

#about .content-label {
  font-size: 1.2em;
  line-height: 1.6;
  color: #ffffff;
  text-align: center;
  margin: 30px auto;
}

/* Experience Items */
.about-xp {
  display: grid;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.about-xp-item {
  background-color: #120144;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}

.about-xp-item:hover {
  transform: translateY(-5px);
}

.about-xp-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.about-xp-item h5 {
  margin: 0;
  font-size: 1.2rem;
  color: #ffffff;
}

.about-xp-item p {
  color: #ffffff;
  margin: 0;
  font-size: 0.9rem;
}

/* Detail Text */
.about-xp-item-detail {
  font-size: 0.9rem;
  color: #555;
  display: none;
  margin-top: 10px;
}

/* Button Styling */
.button {
  background-color: #b7e0ff;
  color: #000000;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover,
.button.active {
  background-color: #024caa;
}

/* start style sertifikasi */
#certificate {
  padding: 50px 15px;
  text-align: center;
}

#certificate .container {
  max-width: 1200px; /* Menentukan lebar maksimal */
  margin: 0 auto; /* Memusatkan galeri */
}

/* Efek Hover pada Gambar */
.img-thumbnail {
  transition: all 0.4s ease-in-out, box-shadow 0.3s ease;
}

.img-thumbnail:hover {
  transform: rotate(10deg);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.img-thumbnail.zoom {
  transform: scale(1.5);
  z-index: 10;
}
