* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow-x: hidden;
}
body {
  height: 100vh;
  width: 100vw;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #120144, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #120144, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Start Navbar style */
.navbar {
  background-color: transparent;
}

.container-fluid .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #024caa;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #120144; /* Ganti warna latar belakang saat di-hover */
}

/* Start Home style */
.home-content h1 {
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #444356;
  overflow: hidden;
}

.lead span {
  color: #024caa;
}

.animate-keyword p {
  overflow: hidden; /* Menyembunyikan teks yang belum muncul */
  white-space: nowrap; /* Mencegah teks dibungkus ke baris baru */
  animation: typing 2s steps(30, end) forwards, blink 0.75s step-end infinite; /* Menambahkan animasi berkedip */
  visibility: hidden; /* Sembunyikan p awalnya */
}

/* Animasi untuk setiap paragraf */
.animate-keyword p:nth-child(1) {
  animation-delay: 0s; /* Muncul pertama */
  visibility: visible; /* Menampilkan paragraf pertama */
}

.animate-keyword p:nth-child(2) {
  animation-delay: 1s; /* Muncul setelah paragraf pertama */
  visibility: visible; /* Menampilkan paragraf kedua */
}

@keyframes typing {
  from {
    width: 0; /* Dimulai dari lebar 0 */
  }
  to {
    width: 100%; /* Berakhir dengan lebar penuh */
  }
}

@keyframes blink {
  50% {
    border-color: transparent; /* Kursor berkedip */
  }
}
